# Copier en .env et ajuster les valeurs
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=Logistique
VITE_KEYCLOAK_CLIENT_ID=logistique-web
VITE_API_URL=http://localhost:9090/api/v1

# Mettre à false pour utiliser le vrai backend (Keycloak + NestJS requis)
# true par défaut → l'app fonctionne sans backend
VITE_USE_MOCK=true
